name = "AfiBalance"
prefix = "afibalance"
author = "Tuntematon"
mainprefix = "x"

[files]
include = [
    "mod.cpp",
    "data/**",
]

[version]
git_hash = 0 

[binarize]
enabled = true 

[lint.sqf]
enabled = true


[hemtt.launch.base]
workshop = [
    "450814997", # CBA_A3
    "463939057", # ACE
    "3499977893", # Advanced tool thing
]

[hemtt.launch.default]
extends = "base"
parameters = [
    "C:\\Users\\mikal\\Documents\\Arma 3 - Other Profiles\\Tuntematon\\missions\\minetest.Enoch\\mission.sqm", # Launch into existing Editor Mission - \\ needed
]

[hemtt.launch.kiina]
extends = "base"
workshop = [
    "2691430448", 
    "2291129343", 
    "891433622", 
]
parameters = [
    "C:\\Users\\mikal\\Documents\\Arma 3 - Other Profiles\\Tuntematon\\missions\\minetest.Enoch\\mission.sqm",
]

[hemtt.launch.all]
extends = "base"
workshop = [
    "843425103", # RHS AFRF Workshop ID
    "843577117", # RHS USAF Workshop ID
    "843593391", # RHS GREF Workshop ID
    "843632231", # RHS SAF  Workshop ID
    "1673456286", # 3CB FACTIONS Workshop ID
    "1661066023", # RKSL
    "893339590", # BAF weapons
    "893349825", # BAF vehicle
    "893346105", # BAF units
    "893328083", # BAF Equipment
]

parameters = [
    # "C:\\Users\\mikal\\Documents\\Arma 3 - Other Profiles\\Tuntematon\\missions\\igla.altis\\mission.sqm", # Launch into existing Editor Mission - \\ needed
]

[hemtt.launch.rhs]
extends = "base"
workshop = [
    "843425103", # RHS AFRF Workshop ID
    "843577117", # RHS USAF Workshop ID
    "843593391", # RHS GREF Workshop ID
    "843632231", # RHS SAF  Workshop ID
]

parameters = [
    "C:\\Users\\mikal\\Documents\\Arma 3 - Other Profiles\\Tuntematon\\missions\\igla.altis\\mission.sqm", # Launch into existing Editor Mission - \\ needed
]

[hemtt.release]
folder = "afi_balance"


[hemtt.launch.server]
extends = "base"
workshop = [
    "843425103", # RHS AFRF Workshop ID
    "843577117", # RHS USAF Workshop ID
    "843593391", # RHS GREF Workshop ID
    "843632231", # RHS SAF  Workshop ID
    "1673456286", # 3CB FACTIONS Workshop ID
    "893349825", # 3CB Vehicles Workshop ID
]
parameters = [
    "-server",
    "-port=2302",
    "-filePatching",
]

[hemtt.launch.player]
extends = "base"
workshop = [
    "843425103", # RHS AFRF Workshop ID
    "843577117", # RHS USAF Workshop ID
    "843593391", # RHS GREF Workshop ID
    "843632231", # RHS SAF  Workshop ID
    "1673456286", # 3CB FACTIONS Workshop ID
    "893349825", # 3CB Vehicles Workshop ID
]
parameters = [
    "-skipIntro",         # These parameters are passed to the Arma 3 executable
    "-noSplash",          # They do not need to be added to your list
    "-showScriptErrors",  # You can add additional parameters here
    "-debug",
    "-filePatching",
    "-world=empty",
    "-noPause",
    "-noPauseAudio",
    "-connect=localHost",
    "-port=2302",
    "-window",
]